html,
body,
.container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0
}

body {
	color: #555;
	background: #fbfbf6;
	font: 14px -apple-system, BlinkMacSystemFont, Quicksand, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	word-wrap: break-word;
	display: flex;
	min-height: 100%;
	flex-direction: column
}

.main {
	margin-top: 3em
}

.main .main-container {
	width: auto;
	box-sizing: border-box;
	border-radius: bottom .3em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: nowrap;
	padding: 0
}

.main .main-container .content {
	flex: 1 0 auto;
	width: 75%
}

@media (max-width: 60em) {
	.main .main-container {
		flex-direction: column
	}

	.main .main-container .content {
		width: 100%
	}
}

.container {
	padding: 0;
	max-width: 90em;
	width: 100%;
	margin: 0 auto
}

.card {
	display: block;
	background: #fbfbf6;
	transition: 0.2s ease-in-out;
	box-sizing: border-box;
	border-radius: .3em;
	padding: 1.5em 1.5em;
	margin: 0.5em;
	border: 20px solid;
	border-image: url("/images/border-card.svg");
	border-image-slice: 60
}

a {
	color: #094771
}

.post-tag {
	color: #094771
}

a.link {
	color: #094771;
	display: inline-block;
	text-decoration: none;
	transition: 0.2s ease-in;
	position: relative
}

a.link::after {
	content: " ";
	position: absolute;
	width: 100%;
	height: 0.1em;
	bottom: 0;
	left: 0;
	background: #555;
	visibility: hidden;
	transform: scaleX(0);
	transition: 0.3s ease-in-out
}

a.link:hover::after {
	visibility: visible;
	transform: scaleX(1)
}

.footer {
	background: #1e1e1e;
	color: #eee;
	margin-top: 1.5em
}

.footer .footer-container {
	font-size: 0.8em;
	width: auto;
	word-wrap: break-word;
	line-height: 2em;
	padding: 0 2em 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: nowrap
}

.footer .footer-container .footer-left {
	flex: 1 0 auto;
	text-align: left;
	width: 50%
}

.footer .footer-container .footer-right {
	flex: 1 0 auto;
	text-align: right;
	width: 50%
}

.footer a {
	position: relative;
	color: #eee;
	text-decoration: none;
	transition: 0.3s ease-in-out
}

.footer a:hover {
	color: #fff
}

.footer a:active {
	top: 0.1em
}

.footer .cc {
	font-size: 0.9em
}

.footer .back-to-top {
	display: block;
	text-align: center
}

.footer .back-to-top button {
	border: none;
	outline: 0;
	background: transparent;
	color: #eee;
	overflow: hidden;
	display: inline-block;
	margin: 0 auto;
	padding: 0 0.5em 0.2em;
	cursor: pointer;
	border-radius: .3em;
	font-size: 1em;
	margin-top: -2px
}

.footer .back-to-top button:hover {
	background-color: #3C3C3C
}

.footer .footer-container {
	flex-direction: column-reverse;
	align-items: stretch
}

.footer .footer-container .footer-left {
	text-align: center;
	width: auto
}

.footer .footer-container .footer-right {
	text-align: center;
	width: auto
}

.header {
	flex: none;
	padding-bottom: 0;
	margin-bottom: 0;
	background: #cfb286;
	color: #262626
}

.header .header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	padding: 1.5em 0.5em 0.5em
}

.header .header-container .header-title {
	text-align: left;
	width: 75%;
	word-wrap: break-word;
	flex: 1 0 auto;
	color: #262626
}

.header .header-container .header-title a {
	color: #262626;
	text-decoration: none;
	border-bottom: none
}

.header .header-container .header-title a:hover {
	color: #262626;
	border-bottom: none
}

.header .header-container .header-title a:active {
	top: 0
}

.header .header-container .header-title .title {
	font: normal 2.9em -apple-system, BlinkMacSystemFont, Quicksand, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	margin: 0 0 0 0
}

.header .header-container .header-title .subtitle {
	font: normal 1.2em -apple-system, BlinkMacSystemFont, Quicksand, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	margin: 0.2em 0 1em 0
}

.header .header-container .logo {
	text-align: center;
	width: 25%;
	flex: 1 0 auto
}

.header .header-container .logo img {
	display: inline-block;
	max-width: 8em;
	width: 100%
}

@media (max-width: 40em) {
	.header .header-container {
		flex-direction: column-reverse
	}

	.header .header-container .header-title {
		text-align: center;
		width: auto
	}

	.header .header-container .logo {
		text-align: center;
		width: auto
	}
}

.info {
	display: block;
	text-align: center
}

.info .author-avatar {
	max-width: 10em;
	width: 40%;
	display: block;
	margin: 1em auto;
	border: 20px solid;
	border-image: url("/images/border.svg");
	border-image-slice: 180;
	transition: 1s ease-in-out
}

.info .author-name {
	color: #555;
	font-size: 1em;
	font-weight: bold;
	margin: 0.5em 0
}

.info .author-description {
	color: #555;
	font-size: 0.9em;
	font-weight: normal;
	margin: 0.5em 0
}

.info .info-social {
	font-size: 1.5em
}

.info .info-social a {
	color: #555;
	margin-right: 0.5em
}

.info .info-social a .fa-envelope {
	font-size: 0.9em;
	position: relative;
	top: -1px
}

.info .info-social a .fa-twitch {
	font-size: 0.9em;
	position: relative;
	top: 1px
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: nowrap
}

.nav-container .nav-social {
	display: none;
	font-size: 1.5em
}

.nav-container .nav-social a {
	color: #fbfbf6;
	margin-right: 0.5em
}

.nav-container .nav-social a .fa-envelope {
	font-size: 0.9em;
	position: relative;
	top: -1px
}

@media (max-width: 60em) {
	.header .nav-container {
		flex-direction: column-reverse;
		text-align: center
	}

	.header .nav-container .nav-social {
		width: 100%
	}
}

.nav {
	position: relative;
	margin: 0;
	padding: 0 0.5em;
	border-radius: top .3em;
	display: block;
	font-weight: 800
}

.nav ul {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0
}

.nav ul li {
	line-height: 2em;
	position: relative;
	text-align: center;
	display: inline-block;
	margin: 0 0.1em;
	border: 10px solid;
	border-image: url("/images/tab.svg");
	border-image-slice: 240;
	border-bottom: 0
}

.nav ul li a {
	position: relative;
	display: block;
	font-size: 1em;
	padding: 0.4em 0.8em;
	color: #262626;
	text-decoration: none;
	text-shadow: 0 0.05em rgba(0, 0, 0, 0.2);
	border-bottom: none;
	background: #cfb286
}

.nav ul li a:active {
	top: 0
}

.nav ul li:hover {
	border-image-source: url("/images/tab-current.svg")
}

.nav ul li:hover a {
	color: #262626;
	background: #fbfbf6
}

.nav ul li.current {
	color: #262626;
	border-image-source: url("/images/tab-current.svg")
}

.nav ul li.current a {
	background: #fbfbf6
}

.nav .nav-toggle {
	text-align: center;
	font-size: 2em;
	position: relative;
	cursor: pointer;
	color: #262626;
	display: none;
	width: 100%;
	text-align: center;
	border-bottom: none
}

.nav .nav-toggle:hover {
	border-bottom: none;
	color: #262626
}

@media (max-width: 40em) {
	.nav .nav-toggle {
		display: block
	}

	.nav #menu {
		display: none
	}

	.nav ul {
		display: none
	}

	.nav ul li {
		display: block;
		text-align: center;
		margin: 0.1em 0
	}

	.nav ul li a {
		position: relative;
		border-bottom: none
	}

	.nav ul li a:hover {
		color: #262626;
		background: #fbfbf6
	}
}

.pager {
	width: 100%;
	text-align: center
}

.pager .pager-container {
	display: inline-block;
	font-weight: bold
}

.pager .pager-container a.pager-current {
	text-decoration: none
}

.post .post-header {
	text-align: left
}

.post .post-header .post-title {
	font-size: 2em;
	font-style: bold;
	margin: -0.2em 0 0.2em
}

.post .post-header .post-title-simple {
	margin: 0
}

.post .post-header .post-title .post-title-link {
	display: inline-block;
	position: relative;
	text-decoration: none;
	border-bottom: none;
	color: #555
}

.post .post-header .post-meta span {
	margin: 0 0.1em
}

.post .post-header .post-tags .post-divider {
	color: #999
}

.post .post-header .post-tags .post-tag i {
	padding-right: 0.4em
}

.post .post-main {
	line-height: 1.6em
}

.post .post-main a.headerlink {
	border: none
}

.post .post-main a.headerlink:hover {
	border: none
}

.post .post-main a.headerlink:active {
	top: 0
}

.post .post-main a.headerlink::before {
	content: "#";
	margin-right: 0.3em
}

.post .post-main .image-container {
	overflow: hidden;
	display: flex;
	justify-content: center
}

.post .post-main .code-section {
	background-color: #cfb286
}

.post .post-footer {
	text-align: center
}

.post .post-footer a.link.post-more-link {
	color: #094771
}

.comments-section {
	margin: 0.75em;
	margin-top: 2em
}

.sidebar {
	flex: 1 0 auto;
	width: 25%;
	padding: 0;
	margin-top: 0.55em;
	word-wrap: break-word
}

.sidebar .search {
	display: block;
	text-align: center;
	background: #fbfbf6;
	color: #262626;
	border: 20px solid;
	border-image: url("/images/border.svg");
	border-image-slice: 180
}

.sidebar .search .gsc-control-cse {
	padding: 0;
	background: #fbfbf6;
	border-color: #fbfbf6
}

.sidebar .search .gsc-input-box {
	background: #fbfbf6;
	border-color: #fbfbf6
}

.sidebar .search .cse input.gsc-input,
.sidebar .search input.gsc-input {
	font-size: 1em;
	font-family: -apple-system, BlinkMacSystemFont, Quicksand, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	border-bottom: 0.1em solid #262626 !important
}

.sidebar .search .gsc-search-button-v2,
.sidebar .search .gsc-search-button-v2:hover,
.sidebar .search .gsc-search-button-v2:focus {
	padding: 0;
	margin-top: 8px;
	background: #fbfbf6;
	border-color: #fbfbf6
}

.sidebar .search .gsc-search-button-v2 svg {
	fill: #262626
}

.sidebar .search .gsst_a {
	padding: 0
}

.sidebar .search .gscb_a {
	font: 1em -apple-system, BlinkMacSystemFont, Quicksand, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

.sidebar .search .gsc-webResult .gsc-result {
	border-left: 1px solid transparent
}

.sidebar .search .gsc-webResult.gsc-result:hover {
	border-bottom: 1px solid transparent !important
}

.sidebar .search .fa-search {
	padding-right: 0.3em
}

.sidebar .search input {
	width: 70%;
	height: 1.8em;
	border: none;
	border-bottom: 0.1em solid #262626;
	background: #fbfbf6;
	color: #262626;
	transition: 0.3s ease-in-out
}

.sidebar .search input:focus {
	outline: none;
	border-bottom: 0.1em solid #262626
}

.sidebar .search input::placeholder {
	color: #262626;
	opacity: 0.7
}

.sidebar .search::-webkit-search-cancel-button {
	-webkit-appearance: none;
	color: #262626
}

.sidebar .search-result-box {
	background: #fbfbf6;
	word-wrap: break-word;
	transition: 0.3s ease-in-out
}

.sidebar .search-result-box .search-result-list {
	margin-top: 0;
	padding: 1em 1em 1em 2em
}

.sidebar .search-result-box:hover {
	box-shadow: 0 0.5em 1em 0.5em rgba(0, 0, 0, 0.19)
}

.sidebar .sidebar-item {
	margin: 1em
}

.sidebar .twitter {
	margin-top: 0.6em;
	min-height: 400px
}

.sidebar .twitter a {
	color: #fbfbf6;
	text-decoration: none
}

.sidebar .sidebar-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-bottom: 1em
}

.sidebar .post-toc .toc-link.active {
	color: #999;
	border-bottom: 0.05em solid #999
}

.sidebar hr {
	background: repeating-linear-gradient(-45deg, #fff, #fff 0.25em, transparent 0.25em, transparent 0.5em)
}

@media (max-width: 60em) {
	.sidebar {
		width: calc(100% - 1em);
		margin: 0 auto;
		padding-top: 2em
	}

	.sidebar .sidebar-item {
		text-align: center
	}

	.sidebar .sidebar-item ul {
		padding: 0
	}

	.sidebar .sidebar-item ul li {
		display: inline-block;
		margin: 0.5em 1em
	}

	.sidebar .sidebar-item .toc {
		text-align: left;
		display: inline-block
	}

	.sidebar .sidebar-sticky {
		position: static
	}
}

.topic-list {
	list-style-image: a;
	list-style-image-text-decoration: none;
	list-style-image-font-weight: bold
}

.topic-list a.link::after {
	height: 1px
}

.allTopics {
	margin-left: 1.8em
}

.allTopics .post-tag {
	margin-right: 0.4em
}

.allTopics .post-tag i {
	padding-right: 0.4em
}