{% block footer %}
<footer id="footer" class="footer">
  <div class="container">
    <div class="back-to-top">
      <button id="back-to-top" title="Back to top"><i class="fa fa-angle-double-up"></i></button>
    </div>
    <div class="footer-container">
      <div class="footer-left">
      </div>
      <div class="footer-right">
        <div class="copyright">
          <span>Copyright <span class="cc"><i class="fa fa-copyright"></i></span> 2022 ByteWeasel - All rights reserved.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
