<div class="info sidebar-item">
  <img class="author-avatar" src="/images/profile-white.png" alt="ByteWeasel">
  <h1 class="author-name">ByteWeasel</h1>
  <h2 class="author-description">Developer and streamer with a  passion for learning</h2>
	<div class="info-social">
		<a href="https://github.com/ByteWeasel" target="_blank" title="github.com/ByteWeasel"><i class="fa fa-github"></i></a>
		<a href="https://twitter.com/ByteWeasel" target="_blank" title="twitter.com/@ByteWeasel"><i class="fa fa-twitter"></i></a>
		<a href="https://www.youtube.com/channel/" target="_blank" title="youtube.com/ByteWeasel"><i class="fa fa-youtube-play"></i></a>
        <a href="https://www.twitch.tv/byteweasel" target="_blank" title="twitch.tv/byteweasel"><i class="fa fa-twitch"></i></a>
		<a href="mailto:web@byteweasel.com" target="_blank" title="email"><i class="fa fa-envelope"></i></a>
	</div>
</div>