// Colors
$color-foreground: #555;
$color-background: #fbfbf6;
$color-hover-foreground: #999;
$color-card-background: #fbfbf6;
$color-link-foreground: #094771;
$color-header-foreground: #262626;
$color-header-background: #cfb286;

// Fonts
$font-default: -apple-system, BlinkMacSystemFont, Quicksand, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-mono: Consolas, Monaco, Menlo, Consolas, monospace;
$font-size: 14px;

// Sizes
$container-max-width: 90em;
$media-main-fold-width: 60em;
$media-footer-header-nav-fold-width: 40em;
$corner-radius: 0.3em;